* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rancho', cursive;
    font-size: 25px
}

h1 {
    font-family: 'Fredericka the Great', cursive;
}

h2,h3,h4,h5,h6 {
    font-family: 'Rancho', cursive;
}

section {
    text-align: center;
}

section h2 {
    padding: 20px 0;
}

#logo-rltp p {
    display: flex;
    justify-content: center;
}

#logo-area h1 {
    display: flex;
    justify-content: center;
}

#logo-area img {
    align-items: center;
}

* img {
    border-radius: 2em;
}

/*********************************************************
INICIO NAV 
*********************************************************/

nav {
    background-color: #B70AF5;
}

nav ul {
    display: flex;
    list-style-type: none;
    font-size: 1.3em;
    height: 1.5em;
    align-items: center;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color:whitesmoke; 
    font-weight: bold;
    padding: .30em 1em;
    font-size: 22px
}

nav a:hover {
    background-color: #F4C70B;
    color: #fff;
    box-shadow: 0 2px pink;
    border: 5px double #B70AF5;
}
footer {
    background-color: #F4C70B;
}

/************************************************************
FIM NAV 
*************************************************************/

#logo-area {
    background-image: url(img/imagem_eventos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 60px
}

nav {
    font-family: 'Rancho', cursive;
}

#logo {
    height: 20%;
    width: 20%;
}


h1 h2, h3, h4 {
    color: white; 
}

footer {
    background-color: #F4C70B;
    font-family: 'Rancho', cursive;
    text-align: center;
}

body {
    background-image: linear-gradient( purple 40%, white);
    padding: 0px
}

h2,h3,h4,h5,h6 {
    color: #F4C70B;
}
h1 b {
    color: #F4C70B;
}

h2,h3 {
    text-align: center;
}

h4 {
    background-color: #F4C70B;
    color: #B70AF5;
}

